.characterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;

}

.itemCharac{
    margin:16px;
    transition: transform .2s;
}

.itemCharac:hover{
    transform: scale(1.2);
    filter: saturate(180%) 
}

.personalData{
    display: flex;
    flex-direction: row;
    color:white
}

.imgCharac {
    border-radius: 25px;
  
}

.titleGOT{
    margin-top: 5px;

    img{
        border-radius: 30px;
    }
}