.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.personalData {
 display:flex;
 flex-direction: column;
 justify-content: center;
 margin-left: 30px;
 width: 25vw;
}

.boxes {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 12px 0px;
    border-radius: 25px;
    border: 1px solid #dddddd;

    h3 {
     margin: auto 5px;
    }

    p {
     margin: 8px 16px 8px 8px;
    }
}

.img {
}