.table {
    table-layout: fixed;
    width: 85%;
    border-collapse: collapse;
    margin: 15px auto 50px auto;
}

.users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.titles{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.search {
 margin-bottom: 1rem;
 margin-left: 8rem;
}