.users-table {
    table-layout: fixed;
    height: fit-content;
    border-collapse: collapse;
}

.users-table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.titles{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.btnWhite {
 background-color: transparent;
 border: none;
 border: transparent;
 font-size: 30px;
 color:white;
}
   
.btnRed {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 30px;
}